In [1]:
import cv2
import keras.layers 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import cvlib as cv

In [2]:
url = "https://donamireal.cz/download/identity_CelebA.csv"  #hodil jsem soubor na server
df = pd.read_csv(url)

In [3]:
def train_validate_test_split(df, train_percent=0.6, validate_percent=0.2 , seed=None):
    np.random.seed(seed)
    perm = np.random.permutation(df.index)
    m = len(df.index)
    train_end = int(train_percent * m)
    validate_end = int(validate_percent * m) + train_end
    train = df.iloc[perm[:train_end]]
    validate = df.iloc[perm[train_end:validate_end]]
    test = df.iloc[perm[validate_end:]]
    return train, validate, test

In [4]:
train, validate, test = train_validate_test_split(df)

In [5]:
train

         000001.jpg 2880
144      000146.jpg 7147
90025    090027.jpg 5728
198415   198417.jpg 9324
63502     063504.jpg 248
67193    067195.jpg 4858
...                  ...
127997   127999.jpg 3620
80578    080580.jpg 7168
111657   111659.jpg 3907
35788    035790.jpg 6386
195554  195556.jpg 10157

[121558 rows x 1 columns]

In [6]:
validate

        000001.jpg 2880
202128  202130.jpg 8717
6338    006340.jpg 8933
177025  177027.jpg 3487
71359   071361.jpg 6014
40016   040018.jpg 4646
...                 ...
150336  150338.jpg 1407
184366  184368.jpg 5301
166649   166651.jpg 460
13525   013527.jpg 9325
175249  175251.jpg 1877

[40519 rows x 1 columns]

In [7]:
test

        000001.jpg 2880
98188   098190.jpg 7709
76829   076831.jpg 2215
129001  129003.jpg 9986
101620  101622.jpg 2924
38663   038665.jpg 7665
...                 ...
15445   015447.jpg 4271
150767  150769.jpg 1598
130408  130410.jpg 9979
38872   038874.jpg 9940
115510  115512.jpg 6941

[40521 rows x 1 columns]

In [90]:
def get_face(image, name):

  img= cv2.imread(image)
  faces, confidences = cv.detect_face(img)
  for face in faces:
        (startX,startY) = face[0],face[1]
        (endX,endY) = face[2],face[3]
        cropped_image = img[startY:endY, startX:endX]
        cv2.imwrite(outputPath + name, cropped_image)
        return cropped_image

In [91]:
import os
import glob

def clean_folder(folderPath):
    files = glob.glob(folderPath + '*')
    for f in files:
        os.remove(f)

In [92]:
def go_through_dataset_crop(n):
  clean_folder(outputPath)
  data_pict = pd.read_csv('C:/Users/prokopj/dataset/new_dataset.csv')
  sample = data_pict.sample(n)
  picts = []
  for x in range(0, (n)):
    image = str(sample.iloc[x, 1])
    get_face(path + image, outputPath + f'0000000000cropped_{image}')

In [93]:
path = 'C:/Users/prokopj/dataset/'
outputPath = 'C:/Users/prokopj/cropped/'
resize_path ='C:/Users/prokopj/resized/'

In [105]:
def resize_picture(in_file, out_file, width_out, height_out):
    img = in_file
    resize = tf.keras.layers.Resizing (width_out, height_out, interpolation='bilinear', crop_to_aspect_ratio=False)
    resized_image = resize(img)
    image_array = tf.keras.utils.img_to_array(resized_image)
    cv2.imwrite(resize_path + out_file,image_array)

In [106]:
def go_through_dataset_resize(n, size):
  clean_folder(outputPath)
  clean_folder(resize_path)
  data_pict = pd.read_csv('C:/Users/prokopj/dataset/new_dataset.csv')
  sample = data_pict.sample(n)
  picts = []
  for row in range(len(sample)):
    pict = sample.iloc[row, 1]
    picts.append(pict)
  for i in range(len(picts)):
      print(path + picts[i])
      x =  path + picts[i]
      image = get_face(x, picts[i])
      if image is not None:
            resize_picture(image,picts[i], size, size)

In [107]:
go_through_dataset_resize(10,224)

C:/Users/prokopj/dataset/002077.jpg
C:/Users/prokopj/dataset/000849.jpg
C:/Users/prokopj/dataset/000901.jpg
C:/Users/prokopj/dataset/002506.jpg
C:/Users/prokopj/dataset/002864.jpg
C:/Users/prokopj/dataset/004158.jpg
C:/Users/prokopj/dataset/002300.jpg
C:/Users/prokopj/dataset/000872.jpg
C:/Users/prokopj/dataset/000252.jpg
C:/Users/prokopj/dataset/004287.jpg